@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --dark-blue: hsl(209, 23%, 22%);
    --v-dark-blue: hsl(207, 26%, 17%);
    --light-mode-text: hsl(200, 15%, 8%);
    --dark-gray: hsl(0, 0%, 52%);
    --v-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
  }
}